html,
body {
  overflow: hidden;
}

p {
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5 {
  line-height: 1.15;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
  margin-bottom: 1rem;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
}

.modal-content {
  overflow: hidden;
  width: 680px;
}
