@import '../../styles/base/variables';

.bar__indivs--normal {
  fill: lighten($dirt, 15%);
}

.bar__pacs--normal {
  fill: lighten($dollar, 15%);
}

.bar__indivs--selected {
  fill: $dirt;
}

.bar__pacs--selected {
  fill: $dollar;
}

.bar__click {
  fill: transparent;
  &:focus {
    outline: 0;
    border: 0;
  }
}

.bar__click:hover {
  fill: rgba($dirt, .1);
  cursor: pointer;
}

.bar__label {
  text-anchor: end;
  font-size: .7rem;
}

.chart__text {
  font-family: $font-family-base;
}
