@import "../../styles/base/variables";

$money-width: 200px;

.senate {
  width: 100%;
  height: 0;
  padding-top: 50%;
  position: relative;

  .seat {
    &.animation--zoom-in {
      animation-name: zoom-in-senate;
      animation-duration: 2s;
    }
  }

  .seat--filled {
    r: $seat-senate-radius;
  }
}

.senate--initial-render {
  @for $i from 1 through 100 {
    .seat:nth-child(#{100-$i}) {
      animation-delay: #{20 * $i}ms;
    }
  }

  .seat {
    &.animation--zoom-in {
      animation-duration: 1s;
    }
  }

  .senate__title,
  .senate__total,
  .senate__party {
    opacity: 0;
  }
}

.senate__title,
.senate__total,
.senate__party {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.senate__title {
  position: absolute;
  bottom: 65%;
  left: calc(50% - #{$money-width * 0.5});
  width: $money-width;
  font-size: $h2-size;
  color: $dirt;
  text-align: center;
}

.senate__total {
  position: absolute;
  bottom: 80%;
  left: calc(50% - #{$money-width * 0.5});
  width: $money-width;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: darken($dirt, 10%);
}

.senate__seating {
  transform: rotate(-180deg);
  position: absolute;
  top: 0;
  left: 0;
}


.senate__party {
  position: absolute;
  text-align: center;
}

.senate__party-total {
  margin-top: -0.5rem;
  display: block;
  color: darken($dirt, 10%);
}

.senate__party-title {
  display: block;
  font-size: $h4-size;
}

.senate__party--democrats {
  bottom: 0;
  left: 0;

  .senate__party-title {
    color: lighten($democrat, 10%);
  }
}

.senate__party--republicans {
  bottom: 0;
  right: 0;

  .senate__party-title {
    color: darken($republican, 10%);
  }
}
