@import "../../styles/base/variables";

.card {
  .sector-map-container {
    display: none;
  }
}

.card-ribbon {
  width: 100%;
  height: 20px;
}

.card-image-wrapper {
  width: 200px;
}

.card-title {
  margin-bottom: 1rem;

  a {
    color: $body-color;

    &:hover {
      color: $link-hover;
    }
  }
}

.card-info {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.card-title__sub {
  font-size: 2rem;
}

.card-ribbon--democrat {
  background: $democrat;
}

.card-ribbon--republican {
  background: $republican;
}

.card-ribbon--independent {
  background: $independent;
}

.candidate__contributors {
  padding: 0 1.5rem 1.5rem;

  h4 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .heading {
    margin-bottom: 0;
    line-height: 1.25rem;
    font-size: 1.2rem;
  }

  .title {
    margin-top: -0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    .sector-map-container {
      display: block;
    }
  }

  .candidate__contributors {
    .heading {
      max-width: 240px;
    }

    h4 {
      text-align: left;
    }
  }
}
