@import "../../styles/base/variables";

$money-width: 200px;

.house {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;
  margin-bottom: 2em;
  font-size: 12px;

  .seat {
    &.animation--zoom-in {
      animation-name: zoom-in-house;
      animation-duration: 2s;
    }
  }

  .seat--filled {
    r: $seat-house-radius;
  }
}

.house--initial-render {
  @for $i from 1 through 435 {
    .seat:nth-child(#{$i}) {
      animation-delay: #{4.6 * $i}ms;
    }
  }

  .seat {
    &.animation--zoom-in {
      animation-duration: 1s;
    }
  }

  .house__title,
  .house__total,
  .house__party {
    opacity: 0;
  }
}

.house__title,
.house__total,
.house__party {
  transition: opacity 1s ease-in-out, font-size 1s ease-in-out;
  opacity: 1;
}

.house__title {
  position: absolute;
  top: 65%;
  left: calc(50% - #{$money-width * 0.5});
  width: $money-width;
  font-size: $h2-size;
  color: $dirt;
  text-align: center;
}

.house__total {
  position: absolute;
  top: 80%;
  left: calc(50% - #{$money-width * 0.5});
  width: $money-width;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: darken($dirt, 10%);
}

.house__seating {
  position: absolute;
  top: 0;
  left: 0;
}

.house__party {
  position: absolute;
  text-align: center;
}

.house__party-total {
  margin-top: -0.5em;
  display: block;
  color: darken($dirt, 10%);
}

.house__party-title {
  display: block;
  font-size: $h4-size;
}

.house__party--democrats {
  top: 0;
  left: 0;

  .house__party-title {
    color: lighten($democrat, 10%);
  }
}

.house__party--republicans {
  top: 0;
  right: 0;

  .house__party-title {
    color: darken($republican, 10%);
  }
}

.house--only-democrat {
  .seat--republican {
    fill: $republican-light;
    stroke: white;
  }

  .seat--independent {
    fill: $independent-light;
    stroke: white;
  }

  .seat--vacant {
    fill: white;
    stroke: white;
  }

  .house__total,
  .house__party--republicans {
    opacity: 0.2;
  }
}

.house--only-republican {
  .seat--democrat {
    fill: $democrat-light;
    stroke: white;
  }

  .seat--independent {
    fill: $independent-light;
    stroke: white;
  }

  .seat--vacant {
    fill: white;
    stroke: white;
  }

  .house__total,
  .house__party--democrats {
    opacity: 0.2;
  }
}

.house--only-independent {
  .seat--democrat {
    fill: $democrat-light;
    stroke: white;
  }

  .seat--republican {
    fill: $republican-light;
    stroke: white;
  }

  .seat--vacant {
    fill: white;
    stroke: white;
  }

  .house__total,
  .house__party--democrats,
  .house__party--republicans {
    opacity: 0.2;
  }
}

.house--none {
  .seat--democrat {
    fill: $democrat-light;
    stroke: white;
  }

  .seat--republican {
    fill: $republican-light;
    stroke: white;
  }

  .seat--vacant {
    fill: white;
    stroke: white;
  }

  .seat--independent {
    fill: $independent-light;
    stroke: white;
  }

  .house__total,
  .house__title,
  .house__party--democrats,
  .house__party--republicans {
    opacity: 0.2;
  }
}

@media only screen and (min-width: 480px) {
  .house {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .house {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1400px) {
  .house {
    font-size: 16px;
  }
}
