@import "./styles/base/variables";

.app {
  display: flex;
  align-items: center;
  height: 100vh;
}

.app__main {
  width: 55vw;
  padding: 6rem 8rem;
}

.app__filters {
  width: 45vw;
  height: 100%;
  padding: 1.5rem 3rem;
  overflow-y: auto;
  background: lighten($dollar-light, 10%);

  h1, h2, h3, h4, h5 {
    color: darken($dirt, 20%);
  }
}

.app__filter {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  .control {
    margin-bottom: 0;
  }
}
