// Colors
$black: #000000;
$white: #FFFFFF;

// Branding
$dollar: rgba(133, 187, 101, 1);
$dirt: rgba(165, 151, 139, 1);
$light: rgba(247, 247, 242, 1);
$dollar-light: rgba(228, 230, 195, 1);
$dark: rgba(34, 39, 37, 1);

$democrat: blue;
$democrat-light: rgb(244, 245, 255);
$independent: rgb(255, 228, 0);
$independent-light: rgb(255, 255, 244);
$republican: red;
$republican-light: rgb(255, 244, 244);

// Fonts
$font-family-base: 'Amiri', serif;

// Sizes
$h1-size: 2.488em;
$h2-size: 2.074em;
$h3-size: 1.728em;
$h4-size: 1.44em;
$h5-size: 1.2em;

$seat-house-radius: 3.64;
$seat-senate-radius: 6.67;

// Bulma Theme Variables
$primary: $dollar;
$secondary: lighten($dirt, 30%);
$light: $secondary;
$text: $dark;
$strong-color: inherit;
$body-background-color: $white;
$body-color: $dark;
$modal-background-background-color: rgba($dirt, 0.5);

$modal-content-width: 50vw;

// Hyperlinks
$link: darken($dollar, 20%);
$link-hover: $dollar;
$link-focus: $link-hover;
$link-active: $link-hover;
$link-visited: $link;

$family-primary: $font-family-base;
$family-secondary: $font-family-base;
